<div class="flex w-screen h-screen flex-wrap text-slate-800">
    <div class="relative hidden  select-none flex-col justify-center bg-primary_color text-center md:flex md:w-1/2">
        <img src="/assets/drop_no_bg.png" alt="image" class="h-full">
        <!-- /home/evans/PERSONAL PROJECTS/water-project/src/assets/generated-3d-water.jpg -->

    </div>
    <div class="flex  w-full flex-col md:w-1/2 bg-secondary_color ">
      <div class="flex justify-center pt-12 md:justify-start md:pl-12">
        <img src="/assets/img/water_logo.png" alt="image" class="h-64">
        

      </div>
      <div class=" md:mx-auto flex flex-col justify-center px-6 md:pt-0 md:justify-start lg:w-[28rem]">
        <p class="text-center text-3xl font-bold md:text-left md:leading-tight">Create your  account</p>
        <p  class="mt-6 text-center font-medium md:text-left">
          already a member?... 
          <a routerLink="/login" class="whitespace-nowrap cursor-pointer font-semibold text-primary_color">Login here</a>
        </p>
        
        <form class="flex flex-col items-stretch pt-3 md:pt-8 my-12">
          
            <div class="mb-6">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter full name</label>
                <input type="text"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John Mark" required />
            </div> 
            <div class="mb-6">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter phone number</label>
                <input type="number"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="eg, 07...." required />
            </div>  
            <div class="mb-6">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter email address</label>
                <input type="email"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="eg, john@gmail.com" required />
            </div>  
            <div class="mb-6">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter password</label>
                <input type="password"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  required />
            </div> 
           
            <!-- <div class="flex items-start mb-6">
                <div class="flex items-center h-5">
                <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" required />
                </div>
                <label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">I agree with the <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">terms and conditions</a>.</label>
            </div> -->
            <button type="submit" class="text-white bg-primary_color hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-primary_color dark:focus:ring-blue-800">Register</button>
          </form>
      </div>
    </div>
  </div>
  